In [72]:
import pandas as pd

In [73]:
df=pd.read_csv('Airbnb_Open_Data.csv')

C:\Users\hp\AppData\Local\Temp\ipykernel_6908\181192011.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('Airbnb_Open_Data.csv')

In [74]:
df.head(10)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
6,1004650,BlissArtsSpace!,61300605564,NaN,Alberta,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,...,$14,45.0,49.0,10/5/2017,0.40,5.0,1.0,224.0,Please no shoes in the house so bring slippers...,NaN
7,1005202,BlissArtsSpace!,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,...,$212,45.0,49.0,10/5/2017,0.40,5.0,1.0,219.0,House Guidelines for our BnB We are delighted ...,NaN
8,1005754,Large Furnished Room Near B'way,79384379533,verified,Evelyn,Manhattan,Hell's Kitchen,40.76489,-73.98493,United States,...,$204,2.0,430.0,6/24/2019,3.47,3.0,1.0,180.0,- Please clean up after yourself when using th...,NaN
9,1006307,Cozy Clean Guest Room - Family Apt,75527839483,unconfirmed,Carl,Manhattan,Upper West Side,40.80178,-73.96723,United States,...,$58,2.0,118.0,7/21/2017,0.99,5.0,1.0,375.0,NO SMOKING OR PETS ANYWHERE ON THE PROPERTY 1....,NaN

In [75]:
df.shape

(102599, 26)

In [76]:
df.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
license                            object
dtype: object

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [78]:
df.isnull().sum()

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

In [79]:
# delete redundant columns
# renaming the columns
# dropping duplicates
# cleaning individual columns
# remove the nan values from the dataset

In [80]:
df.duplicated().sum()

np.int64(541)

In [ ]:
freq_value=df['NAME'].mode()
freq_value

0    Home away from home
Name: NAME, dtype: object

In [ ]:
df['NAME']=df['NAME'].fillna('Home away from home')

In [83]:
df['NAME'].isnull().sum()

np.int64(0)

In [ ]:
df['host_identity_verified'].mode()

0    unconfirmed
Name: host_identity_verified, dtype: object

In [85]:
df['host_identity_verified']=df['host_identity_verified'].fillna('unconfirmed')

In [86]:
df['host_identity_verified'].isnull().sum()

np.int64(0)

In [ ]:

df['host name'].mode()

0    Michael
Name: host name, dtype: object

In [88]:
df['host name']=df['host name'].fillna('Michael')

In [89]:
df['host name'].isnull().sum()

np.int64(0)

In [90]:
df['neighbourhood group'].mode()

0    Manhattan
Name: neighbourhood group, dtype: object

In [91]:
df['neighbourhood group']=df['neighbourhood group'].fillna('Manhattan')

In [92]:
df['neighbourhood group'].isnull().sum()

np.int64(0)

In [93]:
df['neighbourhood'].mode()

0    Bedford-Stuyvesant
Name: neighbourhood, dtype: object

In [94]:
df['neighbourhood']=df['neighbourhood'].fillna('Bedford-Stuyvesant')

In [95]:
df['neighbourhood'].isnull().sum()

np.int64(0)

In [96]:
df['room type'].mode()

0    Entire home/apt
Name: room type, dtype: object

In [97]:
df['cancellation_policy'].mode()

0    moderate
Name: cancellation_policy, dtype: object

In [98]:
df['cancellation_policy']=df['cancellation_policy'].fillna('moderate')

In [99]:
df['cancellation_policy'].isnull().sum()

np.int64(0)

In [100]:
df['instant_bookable'].mode()

0    False
Name: instant_bookable, dtype: object

In [101]:
df['instant_bookable']=df['instant_bookable'].fillna('False')

In [102]:
df['instant_bookable'].isnull().sum()

np.int64(0)

In [103]:
df['country'].mode()

0    United States
Name: country, dtype: object

In [104]:
df['country'].unique()

array(['United States', nan], dtype=object)

In [105]:
df['country']=df['country'].fillna('United States')

In [106]:
df['country'].isnull().sum()

np.int64(0)

In [107]:
df['country code'].unique()

array(['US', nan], dtype=object)

In [108]:
df['country code']=df['country code'].fillna('US')

In [109]:
df['country code'].isnull().sum()

np.int64(0)

In [110]:
df=df.drop(columns={'lat','long'})

In [111]:
df.head(5)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,country,country code,instant_bookable,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,United States,US,False,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,United States,US,False,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,unconfirmed,Elise,Manhattan,Harlem,United States,US,True,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,Home away from home,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,United States,US,True,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,United States,US,False,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [112]:
df['price'].str.split('$').str[1]

0           966
1           142
2           620
3           368
4           204
           ...
102594      844
102595      837
102596      988
102597      546
102598    1,032
Name: price, Length: 102599, dtype: object

In [113]:
df['price']=df['price'].str.split('$').str[1]

In [114]:
df['price'] = df['price'].replace('[\$,]', '', regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\hp\AppData\Local\Temp\ipykernel_6908\2079925180.py:1: SyntaxWarning: invalid escape sequence '\$'
  df['price'] = df['price'].replace('[\$,]', '', regex=True)

In [115]:
df['price']=df['price'].str.strip()

In [116]:
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [117]:
df['price'].fillna(df['price'].median(),inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_6908\50049080.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['price'].fillna(df['price'].median(),inplace=True)

In [118]:
df['price'].isnull().sum()

np.int64(0)

In [65]:
df['service fee'].head(20)

0     $193
1      $28
2     $124
3      $74
4      $41
5     $115
6      $14
7     $212
8     $204
9      $58
10     $64
11    $121
12    $143
13    $116
14     $30
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
Name: service fee, dtype: object

In [119]:
df['service fee']=df['service fee'].str.split('$').str[1]

In [120]:
df.head(5)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,country,country code,instant_bookable,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,United States,US,False,...,193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,United States,US,False,...,28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,unconfirmed,Elise,Manhattan,Harlem,United States,US,True,...,124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,Home away from home,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,United States,US,True,...,74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,United States,US,False,...,41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [121]:
df['service fee'] = df['service fee'].replace('[\$,]', '', regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\hp\AppData\Local\Temp\ipykernel_6908\355387945.py:1: SyntaxWarning: invalid escape sequence '\$'
  df['service fee'] = df['service fee'].replace('[\$,]', '', regex=True)

In [125]:
df['service fee']=df['service fee'].str.strip()
df['service fee'] = pd.to_numeric(df['service fee'], errors='coerce')
df['service fee'].fillna(df['service fee'].median(),inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_6908\1576613402.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['service fee'].fillna(df['service fee'].median(),inplace=True)

In [128]:
df['minimum nights'].fillna(df['minimum nights'].median(),inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_6908\2854845721.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['minimum nights'].fillna(df['minimum nights'].median(),inplace=True)

In [129]:
df['minimum nights'].isnull().sum()

np.int64(0)

In [130]:
df['number of reviews'].fillna(0, inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_6908\1283817070.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number of reviews'].fillna(0, inplace=True)

In [131]:
df['reviews per month'].fillna(0, inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_6908\1406860243.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['reviews per month'].fillna(0, inplace=True)

In [132]:
df['review rate number'].fillna(df['review rate number'].median(), inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_6908\3287610094.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['review rate number'].fillna(df['review rate number'].median(), inplace=True)

In [133]:
df['availability 365'].fillna(df['availability 365'].median(), inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_6908\4049174248.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['availability 365'].fillna(df['availability 365'].median(), inplace=True)

In [134]:
df['last review'].fillna("No Review", inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_6908\1161324847.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['last review'].fillna("No Review", inplace=True)

In [137]:
df['house_rules'].mode()

0    #NAME?
Name: house_rules, dtype: object

In [138]:
df['house_rules']=df['house_rules'].replace('#NAME?','No Rules')

In [139]:
df['house_rules'].mode()

0    No Rules
Name: house_rules, dtype: object

In [140]:
df['house_rules'].fillna("No Rules", inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_6908\2913760666.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['house_rules'].fillna("No Rules", inplace=True)

In [141]:
df.drop(columns=['license'], inplace=True)

In [147]:
df['Construction year'].fillna(df['Construction year'].median(),inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_6908\2942026907.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Construction year'].fillna(df['Construction year'].median(),inplace=True)

In [150]:
df['calculated host listings count'].fillna(df['calculated host listings count'].median(),inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_6908\218226404.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['calculated host listings count'].fillna(df['calculated host listings count'].median(),inplace=True)

In [151]:
df.isnull().sum()

id                                0
NAME                              0
host id                           0
host_identity_verified            0
host name                         0
neighbourhood group               0
neighbourhood                     0
country                           0
country code                      0
instant_bookable                  0
cancellation_policy               0
room type                         0
Construction year                 0
price                             0
service fee                       0
minimum nights                    0
number of reviews                 0
last review                       0
reviews per month                 0
review rate number                0
calculated host listings count    0
availability 365                  0
house_rules                       0
dtype: int64

In [152]:
df.duplicated().sum()

np.int64(541)

In [153]:
df=df.drop_duplicates()

In [154]:
df.duplicated().sum()

np.int64(0)