In [1]:
import pandas as pd
import json
import requests
from pandas import json_normalize

In [2]:
# Sample JSON data as a string
data_json = '''
[
  {
    "athlete": "Jim Walmsley",
    "year": 2019,
    "time": "14:09:28"
  },
  {
    "athlete": "Courtney Dauwalter",
    "year": 2023,
    "time": "15:29:34"
  },
  {
    "athlete": "Killian Jornet",
    "year": 2022,
    "time": null
  }
]
'''
data = json.loads(data_json)
df = pd.DataFrame(data)
df

              athlete  year      time
0        Jim Walmsley  2019  14:09:28
1  Courtney Dauwalter  2023  15:29:34
2      Killian Jornet  2022      None

In [3]:
df.to_json("western_states_results.json", orient="records", indent=2)

In [4]:
df = pd.read_json('western_states_results.json')
df

              athlete  year      time
0        Jim Walmsley  2019  14:09:28
1  Courtney Dauwalter  2023  15:29:34
2      Killian Jornet  2022      None

In [5]:
df = pd.DataFrame({
    "name": ["Killian", "Bob"],
    "laps": [48, 40]
})
json_str = df.to_json(orient="records")
print(json_str)

[{"name":"Killian","laps":48},{"name":"Bob","laps":40}]

In [6]:
json_str = df.to_json(orient="columns")
print(json_str)

{"name":{"0":"Killian","1":"Bob"},"laps":{"0":48,"1":40}}

In [7]:
data = [
  {
    "athlete": "Jim Walmsley",
    "years": [2016, 2018, 2019]
  }
]
df = pd.DataFrame(data)
df_exploded = df.explode('years')
print(df_exploded)

        athlete years
0  Jim Walmsley  2016
0  Jim Walmsley  2018
0  Jim Walmsley  2019