In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(columns=['first', 'last', 'score'])

df['first'] = ['jack','jill','bob','matt','john']
df['last'] = ['smith','johnson','smith','payne','hand']
df['score'] = [87,77,99,77,77]
df

  first     last  score
0  jack    smith     87
1  jill  johnson     77
2   bob    smith     99
3  matt    payne     77
4  john     hand     77

In [3]:
# Using Pandas Value_Counts Method
# get the value count for 77
df['score'].value_counts()[77]

np.int64(3)

In [4]:
# Pandas Count A Specific Value In A Column With Shape
df[df['last'] == 'smith'].shape[0]

2

In [5]:
# Pandas Count Specific Value In Column 'Score' With Length Method
len(df[df['last'] == 'smith'])

2

In [6]:
# Use Sum Function to Count Specific Values in a Column in a Dataframe
(df['last'] == 'smith').sum()

np.int64(2)

In [7]:
# In Pandas Count Occurrences of a Specific Value in Column Defined in a List
columns = ['first', 'last', 'score']
output1 = [len(df[df[x] == 77]) for x in columns]
print(output1)

[0, 0, 3]

In [8]:
# How do I count specific values across multiple columns in pandas?
df[df == 77].count()

first    0
last     0
score    3
dtype: int64

In [9]:
# Pandas Count Specific String or Regex Pattern In Column
s = pd.Series(['john wilkens', 'matt', 'johns car', 'inputs', 'cat', 'johnson'])
s.str.count('john')

0    1
1    0
2    1
3    0
4    0
5    1
dtype: int64

In [10]:
# Count Multiple Specific Values In Column
len(df[df['score'].map(lambda x: x == 87 or x == 77)])

4